@tailwind base;
@tailwind components;
@tailwind utilities;

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @property --numm {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @property --nummm {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @property --nummmm {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @property --title {
    syntax: "<string>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes counterr {
    from {
      --title : Transforming Ideas into Innovative Solutions Where Vision Meets Technology
    }

    to {
      --title : World-class design for Saas & Tech companies
    }

  }
  
  
  
  @keyframes counter {
    from {
      --num : 0;
      --numm :0;
      --nummm :0;
      --nummmm :0;
      --title : Transforming Ideas into Innovative Solutions Where Vision Meets Technology
    }
    to {
      --num : 550;
      --numm :45;
      --nummm :47;
      --nummmm :98;
      --title : World-class design for Saas & Tech companies
    }

    
  }

  .image-scale {
    transition: ease-out transform  ;
   transition-duration: 1s;
   transform: scale(125);
  }

  .image-hover {
    transition: ease-out transform  ;
   transition-duration: 1s;
  }
  
  .image-hover:hover {
    transform: translateY(-10px);  /* Move the image up 10px */
  }


  

  